# ==========================
# Angular / Node
# ==========================
/node_modules
/dist
/tmp
/out-tsc
/.angular/cache
/npm-debug.log*
/yarn-error.log

# Environment files
.env
.env.*.local

# ==========================
# Visual Studio / .NET
# ==========================
bin/
obj/
*.user
*.suo
*.pdb
*.cache
*.log
*.vs/

# ==========================
# IDEs and Editors
# ==========================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
