# ==========================
# Node / Angular
# ==========================
/node_modules
/dist
/tmp
/out-tsc
/.angular/cache

# Logs
npm-debug.log*
yarn-error.log

# Environment files
.env
.env.*.local

# System files
.DS_Store
Thumbs.db
