-- ================================================
-- Script final de FicticiaDB para demo/interview
-- ================================================

USE [master];
GO

-- Crear base de datos (portable, sin rutas absolutas)
IF DB_ID('FicticiaDB') IS NOT NULL
    DROP DATABASE [FicticiaDB];
GO

CREATE DATABASE [FicticiaDB];
GO

-- Configuraciones recomendadas para demo
ALTER DATABASE [FicticiaDB] SET RECOVERY SIMPLE;
ALTER DATABASE [FicticiaDB] SET MULTI_USER;
ALTER DATABASE [FicticiaDB] SET AUTO_UPDATE_STATISTICS ON;
ALTER DATABASE [FicticiaDB] SET PAGE_VERIFY CHECKSUM;
GO

USE [FicticiaDB];
GO

-- ================================================
-- Tabla Usuarios
-- ================================================
IF OBJECT_ID('dbo.Usuarios', 'U') IS NOT NULL
    DROP TABLE dbo.Usuarios;
GO

CREATE TABLE [dbo].[Usuarios](
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Username NVARCHAR(MAX) NOT NULL,
    PasswordHash NVARCHAR(MAX) NOT NULL,
    Roles NVARCHAR(200) NULL
);
GO

-- Insertar usuario admin para demo
INSERT INTO [dbo].[Usuarios] (Username, PasswordHash, Roles)
VALUES ('admin', '1234', 'Admin');
GO

-- ================================================
-- Tabla Personas
-- ================================================
IF OBJECT_ID('dbo.Personas', 'U') IS NOT NULL
    DROP TABLE dbo.Personas;
GO

CREATE TABLE [dbo].[Personas](
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    NombreCompleto NVARCHAR(100) NOT NULL,
    Identificacion NVARCHAR(20) NOT NULL,
    Edad INT NOT NULL,
    Genero NVARCHAR(MAX) NOT NULL,
    EstadoActivo BIT NOT NULL,
    Maneja BIT NOT NULL,
    UsaLentes BIT NOT NULL,
    Diabetico BIT NOT NULL,
    EnfermedadOtra NVARCHAR(200) NULL
);
GO

-- ================================================
-- Insertar 50 personas ficticias
-- ================================================
GO


-- ================================================
-- Tabla de EF Migrations
-- ================================================
IF OBJECT_ID('dbo.__EFMigrationsHistory', 'U') IS NOT NULL
    DROP TABLE dbo.__EFMigrationsHistory;
GO

CREATE TABLE [dbo].[__EFMigrationsHistory](
    MigrationId NVARCHAR(150) NOT NULL PRIMARY KEY,
    ProductVersion NVARCHAR(32) NOT NULL
);
GO

-- ================================================
-- Opciones de base de datos adicionales
-- ================================================
ALTER DATABASE [FicticiaDB] SET READ_WRITE;
GO
